@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

/* usage */
:root {
  --main-color: #5798d7;
  --back-color: #f7f7f7;
}
body {
  font-family: "Roboto", sans-serif;
}

/* components */
.cta-btn {
  background-color: var(--main-color);
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  text-decoration: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  filter: drop-shadow(0px 2px 2px #00000048);
}
.section-heading {
  text-transform: capitalize;
  color: #333;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.section-heading + p {
  width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  text-transform: capitalize;
  font-size: 15px;
  color: #6b6b6b;
  text-align: center;
}
strong {
  color: var(--main-color);
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  padding: 5px;
  box-shadow: inset 0px 0px 20px 0px #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 15px;
  margin: 5px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
/* components */

/*start header*/
header {
  height: 70px;
  position: sticky;
  top: 0;
  background: #fff !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header h2 {
  color: #333;
}

header h2 a {
  color: #333;
  text-decoration: none;
}
nav {
  display: flex;
  flex: 1;
}
nav ul {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 45px;
}
nav ul li {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
nav ul li span {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}
nav ul li span i {
  font-size: 12px;
}
nav ul a {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
}
nav ul a:hover,
nav ul li span:hover {
  color: var(--main-color);
  cursor: pointer;
}

nav ul li.active a {
  color: var(--main-color);
}

.sub-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0px;
  width: 300px;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
  display: none;
  border-top: 1px solid #eee;
  z-index: 55;
}
.sub-menu.active {
  display: block;
}
.sub-menu li {
  height: 55px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  font-size: 15px;
  color: #333;
}
.sub-menu li i {
  width: 40px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #777;
}

.sub-menu li:hover i {
  color: var(--main-color);
}

header .links {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .links .language {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 500;
  color: #333;
}
header .links i {
  font-size: 18px;
}
header .links .lang-value {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.fa-bars {
  z-index: 50;
  width: 30px;
  /* height: 75px; */
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: #555;
}
/*end header*/

/* start hero  */
.hero .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  min-height: 100vh;
}

.hero .container .left,
.hero .container .right {
  grid-column: span 6;
}
.hero .container .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .left h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
  text-transform: capitalize;
}

.hero .left p {
  font-size: 18px;
  margin-bottom: 30px;
}
.hero .left strong {
  color: var(--main-color);
}

.hero .countdown-box {
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: #444;
}
.hero .countdown-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  font-size: 38px;
  /* border: 2px #ddd solid; */
  box-shadow: 0 0 3px 0 #66666671;
  border-radius: 10px;
  color: #444;
}

.hero .cta-btn {
  margin-top: 30px;
  padding: 10px 40px;
  white-space: nowrap;
}
.hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.hero .right img {
  width: 100%;
}
/* end hero  */

/* start domain search */
.search-domain {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--back-color);
}

.search-domain .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-domain h2 {
  text-transform: capitalize;
  color: #333;
  margin-bottom: 35px;
}

.search-domain .search-field {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  width: 600px;
  display: flex;
}

.search-domain .search-field input {
  padding: 15px;
  font-size: 18px;
  padding-left: 25px;
  border: none;
  width: 100%;
}
.search-domain .search-field input::placeholder {
  color: #777;
}

.search-domain .search-field button {
  width: 160px;
  height: 48px;
  border: none;
  text-transform: capitalize;
  border-radius: 0;
  margin-top: 0;
}

.domain-price {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.domain-price li {
  width: 77px;
  text-align: center;
  font-weight: 500;
  color: #666;
  font-size: 14px;
}
.domain-price li:not(:first-of-type) {
  border-left: 1px solid #ddd;
}

/* end domain search */
/* start services  */
.services {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 60px;
}

.services .service {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  text-align: center;
}
.services .container .service i {
  width: 75px;
  height: 85px;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  filter: drop-shadow(0px 3px 2px #00000048);
}

.services .container .service h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: normal;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}
.services .container .service p {
  font-size: 13px;
  line-height: 1.6;
  color: #777;
}

/* end services  */

/* start why us */
.why-us {
  padding-top: 80px;
  padding-bottom: 80px;
}
.why-us .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  min-height: 100vh;
}

.why-us .left,
.why-us .right {
  grid-column: span 6;
}

.why-us .left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.why-us .left img {
  width: 100%;
}

.why-us .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.why-us ul li {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.why-us ul li i {
  color: var(--main-color);
  font-size: 22px;
}
/* end why us */

/* start offer */
.offer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--back-color);
  text-align: center;
}

.offer p {
  margin-bottom: 30px;
}
.offer button {
  margin: 0 auto;
}
/* end offer */
/* start plans */
.plans {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.plans .plans-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.plans .plan {
  color: #555;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px #00000033;
  text-transform: capitalize;
  padding: 35px 0px 20px;
  text-align: center;
}
.plans .plan.best-offer {
  --main-color: #fc5185;
}

.plans .plan h2 {
  margin-bottom: 30px;
  font-weight: normal;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}

.plans .plan h3 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
  font-weight: 700;
}

.plans .plan .icon {
  color: var(--main-color);
  font-size: 90px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  filter: drop-shadow(0px 3px 2px #00000048);
}
.plans .plan h3 span {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 20px;
}
.plans .plan ul {
  margin-bottom: 40px;
}
.plans .plan ul li {
  margin-bottom: 15px;
  font-size: 15px;
}

/* end plans */

/* start testimonials */
.reviews-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.reviews-container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.reviews-container .right img {
  width: 100%;
}
.reviews-container .left,
.reviews-container .right {
  grid-column: span 6;
}

.reviews-container .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  padding: 30px;
}
.reviews-container .col-2:last-of-type {
  align-items: center;
}
.review {
  /* padding: 20px 20px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.personal-info {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.personal-info .img-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  border: 2px solid var(--main-color);
}

.personal-info .img-box img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.personal-info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.personal-info .text h3 {
  color: #333;
  font-size: 16px;
  margin-bottom: 3px;
}

.personal-info .text .job {
  text-transform: capitalize;
  color: #777;
  font-size: 12px;
}

.review .rating i {
  color: #ffc107;
  margin-right: 4px;
  font-size: 12px;
}

.review p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;

  margin-top: 10px;
}

/* end testimonials */

/* start blog */

.blog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 60px;
}

.post {
  box-shadow: 0px 0px 7px 0px #00000048;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 15px;
}

.post .post-img img {
  width: 100%;
  height: 235px;
  aspect-ratio: 16/9;
}
.post .post-text {
  padding: 15px;
  text-transform: capitalize;
  text-align: left;
}
.post .post-text h3 {
  margin-bottom: 15px;
  font-size: 17px;
  color: #333;
  line-height: 1.2;
  height: 41px;
}

.post .post-text p {
  line-height: 1.6;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #555;
}

.post .post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px;
  flex: 1;
  border-radius: 100px;
  color: #999;
  font-size: 12px;
}

.post .post-info span {
  font-size: 14px;
  font-weight: 400;
}
.post .post-info i {
  margin-right: 8px;
}
.post .post-info .cta-btn {
  margin: 0;
  padding: 10px 20px;
}
.post .post-info .cta-btn i {
  margin-left: 10px;
  margin-right: 0px;
}
/* end blog */

/* start footer */
footer {
  padding-top: 80px;
  background-color: var(--back-color);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}
footer .container .box {
  margin-bottom: 10px;
  padding: 15px;
}
footer .container .box h3 {
  text-transform: capitalize;
  font-size: 20px;
  color: #333;
  margin-bottom: 35px;
}

footer .container .box p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

footer .container .box ul li {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
}
footer .container .box ul li:hover {
  color: var(--main-color);
}
.contact-icons {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #333;
}
.contact-icons i:hover {
  color: var(--main-color);
  cursor: pointer;
}
.copyright {
  padding: 25px;
  color: #777;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  line-height: 1.8;
  font-size: 12px;
  text-align: center;
}

.go-up-btn {
  position: fixed;
  right: 20px;
  top: 82%;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  filter: drop-shadow(0px 3px 2px #00000048);
  cursor: pointer;
  transition: 400ms;
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
}

.go-up-btn.hide {
  transform: scale(0);
}
