@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

/* usage */
:root {
  --main-color: #5798d7;
  --back-color: #f7f7f7;
}
body {
  font-family: "Roboto", sans-serif;
}

/* components */
.cta-btn {
  background-color: var(--main-color);
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  text-decoration: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  filter: drop-shadow(0px 2px 2px #00000048);
}
.section-heading {
  text-transform: capitalize;
  color: #333;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.section-heading + p {
  width: 400px;
  margin: 0 auto;
  line-height: 1.6;
  text-transform: capitalize;
  font-size: 15px;
  color: #6b6b6b;
  text-align: center;
}

/* components */

/*start header*/
header {
  height: 70px;
  position: sticky;
  top: 0;
  background: #fff !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header h2 {
  color: #333;
}

header h2 a {
  color: #333;
  text-decoration: none;
}
nav {
  display: flex;
  flex: 1;
}
nav ul {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 45px;
}
nav ul li {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
nav ul li span {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}
nav ul li span i {
  font-size: 12px;
}
nav ul a {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
}
nav ul a:hover,
nav ul li span:hover {
  color: var(--main-color);
  cursor: pointer;
}

nav ul li.active a {
  color: var(--main-color);
}

.sub-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0px;
  width: 300px;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
  display: none;
  border-top: 1px solid #eee;
  z-index: 55;
}
.sub-menu.active {
  display: block;
}
.sub-menu li {
  height: 55px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  font-size: 15px;
  color: #333;
}
.sub-menu li i {
  width: 40px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #777;
}

.sub-menu li:hover i {
  color: var(--main-color);
}

header .links {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .links .language {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 500;
  color: #333;
}
header .links i {
  font-size: 18px;
}
header .links .lang-value {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.fa-bars {
  z-index: 50;
  width: 30px;
  /* height: 75px; */
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}
/*end header*/

/* start hero  */
.hero .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  min-height: 100vh;
}

.hero .container .left,
.hero .container .right {

  grid-column: span 6;
 
}
.hero .container .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .left h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
  text-transform: capitalize;
}

.hero .left p {
  font-size: 18px;
  margin-bottom: 30px;
}
.hero .left strong {
  color: var(--main-color);
 
}

.hero .countdown-box {
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: #444;
}
.hero .countdown-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  font-size: 38px;
  /* border: 2px #ddd solid; */
  box-shadow: 0 0 3px 0 #66666671;
  border-radius: 10px;
  color: #444;
}

.hero .cta-btn{
  margin-top: 30px;
  padding: 10px 40px;
  white-space: nowrap;
}
.hero .right{
  display: flex;
  align-items: center;
  padding: 30px;

}
.hero .right img{
  width: 100%;

}
/* end hero  */

/* start domain search */
.search-domain {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--back-color);
 
}

.search-domain .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-domain h2 {
  text-transform: capitalize;
  color: #333;
  margin-bottom: 35px;
}

.search-domain .search-field {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  width: 600px;
  display: flex;
}

.search-domain .search-field input {
  padding: 15px;
  font-size: 18px;
  padding-left: 25px;
  border: none;
  width: 100%;
}
.search-domain .search-field input::placeholder {
  color: #777;
}

.search-domain .search-field button {
  width: 160px;
  height: 48px;
  border: none;
  text-transform: capitalize;
  border-radius: 0;
  margin-top: 0;
}

.domain-price {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.domain-price li {
  width: 77px;
  text-align: center;
  font-weight: 500;
  color: #666;
  font-size: 14px;
}
.domain-price li:not(:first-of-type) {
  border-left: 1px solid #ddd;
}

/* end domain search */
/* start services  */
.services {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 60px;
}

.services .service {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  text-align: center;
}
.services .container .service i {
  width: 75px;
  height: 85px;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  filter: drop-shadow(0px 3px 2px #00000048);
  /* background: var(--main-color); */
  /* border-radius: 50%; */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px; */
}

.services .container .service h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: normal;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}
.services .container .service p {
  font-size: 13px;
  line-height: 1.6;
  color: #777;
}

/* end services  */